/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    box-shadow: 0 0 0 30px rgb(17 24 39) inset !important;
    -webkit-text-fill-color: white !important;
    -webkit-background-clip: text;

}
